#profle-photo{
    width: 100%;
    box-shadow: 10px 10px 5px #ccc;
}


#profile-jumbotron{
    background-color: white;
}


@media screen and (max-width: 1000px) {
    #profle-photo{
        width: 80%;
        box-shadow: 10px 10px 5px #ccc;
    }

    #profile-complete-name{
        font-size: 22px;
    }

}