#profle-photo{
    width: 25%;

}


#profile-jumbotron{
    background-color: white;
}



@media screen and (max-width: 1000px) {
    #profle-photo{
        width: 50%;
        box-shadow: 10px 10px 5px #ccc;
    }

    .profile-title{
        font-size: 22px;
    }

}