.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 50px;

    margin: 0 auto;
  }
  
  .flex-item-left {
    text-align: center;
    padding: 10px;
    flex: 40%;
  }
  


  .flex-item-right{
    padding-right: 202px;
    flex: 50%;
  }
  
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }

  }
 

  .responsive-img{
    width: 70%;
    height: auto;
    border-radius: 50%;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
  }

  @media (max-width: 800px) {
    .responsive-img{
      width: 100%;
      height: auto;
    }
    .flex-item-right {
      padding: 10px;
      flex: 50%;
    }
    
  }

  
  @media (min-width: 1000px) {
    .responsive-img{
      width: 40%;
      height: auto;
      margin-left: 25%;
    }
  }

.portfolio_info_div{
  margin: auto;
  font-weight:lighter;
}
.portfolio_info_text{
  font-size: 20px;

}
    
